*.class
*.log
/**/build/*
/src/integration/mule/volante-connector/target/*
/src/integration/spring-volante/EclipsePlugin/VolanteMenuFeature/target/*
/src/integration/spring-volante/EclipsePlugin/VolanteMenuPlugin/target/*
/src/integration/spring-volante/EclipsePlugin/VolanteMenuUpdateSite/target/*
/lib/advutils.jar
/lib/designer.jar
/lib/designerresources.jar
/lib/ext/doc-extractor.jar
/lib/ext/formula.jar
/lib/ext/sqlutils.jar
/lib/ext/volante-test.jar
/lib/generalutils.jar
/lib/htmlutils.jar
/lib/jarutils.jar
/lib/lic.jar
/lib/runtime/asciifixedrt.jar
/lib/runtime/asciirt.jar
/lib/runtime/bairt.jar
/lib/runtime/beanrt.jar
/lib/runtime/camel-volante.jar
/lib/runtime/cfcrt.jar
/lib/runtime/chipsrt.jar
/lib/runtime/crestrt.jar
/lib/runtime/deploy/cp.jar
/lib/runtime/deprecated/transformbeans.jar
/lib/runtime/deprecated/triggers.jar
/lib/runtime/documentrt.jar
/lib/runtime/dsert.jar
/lib/runtime/dsfirt.jar
/lib/runtime/excelrt.jar
/lib/runtime/fastrt.jar
/lib/runtime/fcsrt.jar
/lib/runtime/fixrt.jar
/lib/runtime/generalutils.jar
/lib/runtime/iso8583rt.jar
/lib/runtime/jsonrt.jar
/lib/runtime/majix/majix.jar
/lib/runtime/mule-volante.jar
/lib/runtime/neftrt.jar
/lib/runtime/oasysglobalrt.jar
/lib/runtime/pojort.jar
/lib/runtime/realrt.jar
/lib/runtime/reportrt.jar
/lib/runtime/resourcemanager.jar
/lib/runtime/reutersrt.jar
/lib/runtime/rtgsrt.jar
/lib/runtime/sap-volante-monitor.jar
/lib/runtime/siaccanonicalrt.jar
/lib/runtime/sicrt.jar
/lib/runtime/simplert.jar
/lib/runtime/spring-volante.jar
/lib/runtime/swiftresources.jar
/lib/runtime/swiftrt.jar
/lib/runtime/tervelart.jar
/lib/runtime/transformrt.jar
/lib/runtime/universalrt.jar
/lib/runtime/volante-client.jar
/lib/runtime/volante-hadoop-simulator.jar
/lib/runtime/volante-hadooprt.jar
/lib/runtime/volante-hadooprt2.2.jar
/lib/runtime/volante-mongodbrt.jar
/lib/runtime/volante-osgirt.jar
/lib/runtime/volante-restrt.jar
/lib/runtime/volante-test.jar
/lib/runtime/webformsrt.jar
/lib/runtime/webservicert.jar
/lib/runtime/xmlrt.jar
/lib/tplusutils.jar
/lib/volante-generator.jar
/lib/volante-tasks.jar
