## #######################################################
## The following variables are made available by the code generator
## OutputFormat
## InputFormat
## BusinessTransaction
## Cartridge
## #######################################################

\#include "Transform.h"
\#include "PlatformUtils.h"
\#include "FileInputSource.h"
\#include "Execute.h"

// Include the cartridge. This is to force the linker to link the generated coded.
USING_CARTRIDGE(${Cartridge})
int main(int argc, const char* argv[]) {
	StringList args;
	for(int i = 1; i< argc; ++i) {
		args.add(argv[i]);
	}
	return Execute::run(args);
}

